<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Confirmación de compra - Mundo Tenis CGA</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333333;
            margin: 0;
            padding: 0;
        }

        .logo {
            max-width: 200px;
            margin-bottom: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #000000;
            text-align: center;
            margin-top: 0;
        }

        p {
            margin-bottom: 20px;
        }

        ul {
            list-style-type: none;
            padding-left: 20px;
            margin-bottom: 20px;
        }

        li {
            margin-bottom: 10px;
        }

        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #ffffff !important;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            text-align: center;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .footer {
            color: #999999;
            font-size: 12px;
            text-align: center;
            margin-top: 30px;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="https://example.com/logo.png" alt="Logo de Mundo Tenis CGA" class="logo">
        <h1>Activa tu cuenta en Mundo Tenis CGA</h1>
        <p>¡Hola <%= name %>!</p>
        <p>Haz clic en el siguiente enlace para continuar:</p>
        <div class="button-container">
          <a href="<%= confirmEmailLink %>" class="button">Activar ahora</a>
        </div>

        <p>Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en contactarnos a través de nuestro servicio de atención al cliente.</p>
        <p>¡Que tengas un excelente día!</p>
        <p class="footer">Atentamente,<br>Mundo Tenis CGA</p>
    </div>
  </body>
</html>
